body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    background: url(Back_Collage.jpg) center center no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
}

@media screen and (max-width: 480px) {
    #frame {
        width: 80%;
    }
}

#frame {
    height: 210px;
    width: 220px;
    background-color: rgba(255,255,255,0.8);
   position: absolute;
    z-index: 6;
  margin: auto;
top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-family: "Tahoma", sans-serif;
    z-index: 6;
    
}

.btn_submit {
    border-radius: 5px;
    height: 30px;
    width: 50px;
    border: 1px solid #70706f;
    background-color: rgba(255,255,255,0.9);
    z-index: 5;
    
}

.btn_submit:hover {
    background-color: cornflowerblue;
    border: 1px solid black;
    cursor: pointer;
}

#name {
    color: dodgerblue;
}


#attention {
    font-weight: bold;
}