body, html {
    margin: 0;
    height: 100%;
    width: 100%;
  
}

#div1 {
    position: absolute;
    height: auto;
    width: 33%;
    background: url(img1.jpg) center center no-repeat;
    /*-moz-background-size: cover;*/
    background-size: cover;
    /* -o-background-size: cover;*/ 
    height: 100%;
    z-index: 1;
}



#div2 {
    position: absolute;
    width: 34%;
    height: auto;
    top: 0%;
    left: 33%;
    background: url(img2.png) center center no-repeat;
    background-size: cover;
    z-index: 1;
    height: 100%;
}

#div3 {
    
    width: auto;
    height: 50%;
    top: 0%;
    left: 0%;
    z-index: 1;
    background: url(img5.png) center center no-repeat;
    background-size: cover;
    
}


#div4 {
    
    width: auto;
    height: 50%;
    bottom: 0%;
    left: 0%;
    z-index: 1;
    background: url(img4.png) center center no-repeat;
    background-size: cover;
}

.wrapper {
    position: absolute;
    width: 33%;
    height: 100%;
    top: 0%;
    left: 67%;
    z-index: 1;
}

/*#frame {
    height: 210px;
    width: 220px;
    background-color: rgba(255,255,255,0.8);
   position: absolute;
    z-index: 6;
  margin: auto;
top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-family: "Tahoma", sans-serif;
    z-index: 6;
    
}

.btn_submit {
    border-radius: 5px;
    height: 30px;
    width: 50px;
    border: 1px solid #70706f;
    background-color: rgba(255,255,255,0.9);
    z-index: 5;
    
}

.btn_submit:hover {
    background-color: cornflowerblue;
    border: 1px solid black;
    cursor: pointer;
}

#name {
    color: dodgerblue;
}


#attention {
    font-weight: bold;
}*/

.img_overlay {
    position: relative;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 4;
}

#module {
    /*border: 2px solid black;*/
    
    display: table;
    padding: 10px;
    border-radius: 10px;
    font-family: "Tahoma", sans-serif;
    z-index: 100;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    
   
    
   
    
}

#module-head {
    /*border: 2px solid green;*/
}

.btn_submit {
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid #70706f;
    
    font-size: 1.1rem;
}

.btn_submit:hover {
    background-color: cornflowerblue;
    border: 1px solid black;
    cursor: pointer;
}

#name {
    color: dodgerblue;
}


#attention {
    font-weight: bold;
}
.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    z-index: 20;
}